<section>
    {{#each field.matrix}}
        <table>
            <tr>
                {{#each this}}
                    <th>{{this.content}}</th>
                {{/each}}
            </tr>
        </table>
    {{/each}}
</section>