<section>
    <h1>Create game</h1>
    <form action="/api/games" method="post">
        <div class="input-group">
            <label for="columns">Columns</label>
            <input type="text" name="columns" id="columns" placeholder="columns" required>
        </div>
        <div class="input-group">
            <label for="rows">Rows</label>
            <input type="text" name="rows" id="rows" placeholder="rows" required>
        </div>
        <div class="input-group">
            <label for="mines">Mines</label>
            <input type="text" name="mines" id="mines" placeholder="mines" required>
        </div>
        <input type="submit" value="Create game">
    </form>
</section>